/* ----------------------------------------------- //
//             WEBAPPICK PLUGIN ALERT              //
// ----------------------------------------------- */

//
// Base styles
//

.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: $close-font-size + $alert-padding-x * 2;

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}
/* Custom css */
.alert {
  color: #ffffff;
}
.alert-light {
  color: #283e59 !important;
}
.alert-primary {
  color: #fff;
  background-color: #2c7be5;
  border-color: #2c7be5;
}

.alert-primary hr {
  border-top-color: #1b6edc;
}

.alert-primary .alert-link {
  color: #e6e6e6;
}

.alert-primary .alert-link,
.alert-primary .close {
  color: #fff;
}

.alert-secondary {
  color: #fff;
  background-color: #6e84a3;
  border-color: #6e84a3;
}

.alert-secondary hr {
  border-top-color: #607797;
}

.alert-secondary .alert-link {
  color: #e6e6e6;
}

.alert-secondary .alert-link,
.alert-secondary .close {
  color: #fff;
}

.alert-success {
  color: #fff;
  background-color: #00d97e;
  border-color: #00d97e;
}

.alert-success hr {
  border-top-color: #00c06f;
}

.alert-success .alert-link {
  color: #e6e6e6;
}

.alert-success .alert-link,
.alert-success .close {
  color: #fff
}

.alert-info {
  color: #fff;
  background-color: #39afd1;
  border-color: #39afd1
}

.alert-info hr {
  border-top-color: #2da2c3
}

.alert-info .alert-link {
  color: #e6e6e6
}

.alert-warning {
  color: #283e59;
  background-color: #f6c343;
  border-color: #f6c343;
}

.alert-warning hr {
  border-top-color: #f5bb2b;
}

.alert-warning .alert-link {
  color: #182536;
}

.alert-warning .alert-link,
.alert-warning .close {
  color: #283e59;
}

.alert-danger {
  color: #fff;
  background-color: #e63757;
  border-color: #e63757;
}

.alert-danger hr {
  border-top-color: #e32044;
}

.alert-danger .alert-link {
  color: #e6e6e6;
}

.alert-danger .alert-link,
.alert-danger .close {
  color: #fff;
}

.alert-light {
  color: #283e59;
  background-color: #edf2f9;
  border-color: #edf2f9;
}

.alert-light hr {
  border-top-color: #dae4f3;
}

.alert-light .alert-link {
  color: #182536;
}

.alert-light .alert-link,
.alert-light .close {
  color: #283e59;
}

.alert-dark {
  color: #fff;
  background-color: #12263f;
  border-color: #12263f;
}

.alert-dark hr {
  border-top-color: #0c1a2b;
}

.alert-dark .alert-link {
  color: #e6e6e6;
}

.alert-dark .alert-link,
.alert-dark .close {
  color: #fff;
}

.alert-white {
  color: #283e59;
  background-color: #fff;
  border-color: #fff;
}

.alert-white hr {
  border-top-color: #f2f2f2;
}

.alert-white .alert-link {
  color: #182536;
}

.alert-white .alert-link,
.alert-white .close {
  color: #283e59;
}