/* --------------------------------------------------- //
//             WEBAPPICK PLUGIN FLATPICKR              //
// --------------------------------------------------- */
.#{$prefix}-flatpickr-calendar {
  background-color: #fff;
  border: 1px solid #d2ddec;
  color: $dark;
  box-shadow: none;

  & * {
    color: inherit!important;
    fill: currentColor!important;
  }
  &.#{$prefix}-arrowTop {

  }
}

.#{$prefix}-flatpickr-calendar.#{$prefix}-arrowTop:before {
  border-bottom-color: #d2ddec
}

.#{$prefix}-flatpickr-calendar.#{$prefix}-arrowTop:after {
  border-bottom-color: #fff
}

.#{$prefix}-flatpickr-calendar .#{$prefix}-flatpickr-months {
  padding-top: .625rem;
  padding-bottom: .625rem
}

.#{$prefix}-flatpickr-calendar .#{$prefix}-flatpickr-next-month,
.#{$prefix}-flatpickr-calendar .#{$prefix}-flatpickr-prev-month {
  top: .625rem
}

.#{$prefix}-flatpickr-calendar .#{$prefix}-flatpickr-current-month {
  font-size: 115%
}

.#{$prefix}-flatpickr-calendar .#{$prefix}-flatpickr-day {
  border-radius: .375rem
}

.#{$prefix}-flatpickr-calendar .#{$prefix}-flatpickr-day:hover {
  background-color: #edf2f9;
  border-color: #d2ddec
}

.#{$prefix}-flatpickr-calendar .#{$prefix}-flatpickr-day.#{$prefix}-prevMonthDay {
  color: #95aac9!important
}

.#{$prefix}-flatpickr-calendar .#{$prefix}-flatpickr-day.#{$prefix}-today {
  border-color: #e3ebf6
}

.#{$prefix}-flatpickr-calendar .#{$prefix}-flatpickr-day.#{$prefix}-selected {
  background-color: #2c7be5;
  border-color: #2c7be5;
  color: #fff!important
}

.#{$prefix}-flatpickr-calendar .#{$prefix}-flatpickr-day.#{$prefix}-inRange {
  background-color: #edf2f9;
  border: none;
  border-radius: 0;
  box-shadow: -5px 0 0 #edf2f9, 5px 0 0 #edf2f9;
}