/* ---------------------------------------------- //
//            WEBAPPICK CUSTOM SWITCH             //
// ---------------------------------------------- */
.#{$prefix}-custom-switch {
  min-height: 1.5rem;

  .#{$prefix}-custom-control-label {
    &:before {
      top: 0;
      height: 1.5rem;
      border-radius: .75rem;
    }
    &:after {
      top: .1875rem;
      left: -3.3125rem;
      background-color: #fff;
    }
  }

  .#{$prefix}-custom-control-input:checked~.#{$prefix}-custom-control-label::after {
    background-color: #fff;
    transform: translateX(1.5rem);
  }
}