/* ------------------------------------- //
//             CUSTOM FONTS              //
// ------------------------------------- */

/* Cerebri Sans Regular*/
@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 400;
  font-style: normal;
  src: local('Cerebri Sans Regular'), local('Cerebri-Sans-regular'),
       url('../fonts/cerebrisans/cerebrisans-regular.eot'),
       url('../fonts/cerebrisans/cerebrisans-regulard41d.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cerebrisans/cerebrisans-regular.woff') format('woff'),
       url('../fonts/cerebrisans/cerebrisans-regular.ttf') format('truetype');
}

/* Cerebri Sans Medium*/
@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 500;
  font-style: normal;
  src: local('Cerebri Sans Medium'), local('Cerebri-Sans-medium'),
       url('../fonts/cerebrisans/cerebrisans-medium.eot'),
       url('../fonts/cerebrisans/cerebrisans-mediumd41d.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cerebrisans/cerebrisans-medium.woff') format('woff'),
       url('../fonts/cerebrisans/cerebrisans-medium.ttf') format('truetype');
}

/* Cerebri Sans Semibold */
@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 600;
  font-style: normal;
  src: local('Cerebri Sans Semibold'), local('Cerebri-Sans-semibold'),
       url('../fonts/cerebrisans/cerebrisans-semibold.eot'),
       url('../fonts/cerebrisans/cerebrisans-semiboldd41d.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cerebrisans/cerebrisans-semibold.woff') format('woff'),
       url('../fonts/cerebrisans/cerebrisans-semibold.ttf') format('truetype');
}